.password-item {
  max-width: 100%;
  display: flex;
  justify-content: space-between; /* Can be replaced via padding beside siteLogo */
  align-items: center;
  border: 1px solid wheat;
}
.password-details-container{
  display: flex;
  align-items: center;
}
.password-item-logo {
  background-color: lightgreen;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  margin-left: 8px;
}
.password-items-details {
  color: white;
}
.password-items-title {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}
.password-items-detail {
  font-size: 0.7rem;
  padding: 4px 0 0 0;
  margin: 0;
}
.passwords-stars-img{
  margin-top: 2px;
  width: 80px;
  height: 18px;
}

.delete-btn {
  outline: none;
  cursor: pointer;
  border: none;
  background: transparent;
}
.delete-btn-img {
  width: 40px;
  height: 40px;
}
